body{
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    background-attachment: fixed;
}
#box{
    background-color: white;
    width: 361px;
    height: 420px;
    margin: 30px 30px 30px 445px;
    padding: 30px;
    border-radius: 10%;   
}
.x{
    width: 340px;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.i{
    text-align: center;
    width: 100px;
    height: 30px;
    border: rgba(0, 0, 255, 0.493);
    border-radius: 20px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
}

.A{
    text-align: center;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
